<header>
    <div class="container header">
        <a class="logo" asp-controller="home" asp-action="index"><img src="~/images/logo.svg" alt=""></a>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="home" asp-action="index">HOME</a>
            <a class="link" asp-controller="products" asp-action="index">PRODUCTS</a>
            <a class="link" asp-controller="contacts" asp-action="index">CONTACT</a>
        </nav>
        <nav class="menu-icons" id="header-menu">
            <a class="link" asp-controller="products" asp-action="search"><i class="fa-regular fa-search"></i></a>
            @if (signinManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <a class="link" asp-controller="admin" asp-action="index">@User.FindFirst("DisplayName")?.Value</a>
                <a class="link" asp-controller="accounts" asp-action="logout">Log&nbsp;Out</a>
            }
            else if (signinManager.IsSignedIn(User))
            {
                <a class="link" asp-controller="accounts" asp-action="index">@User.FindFirst("DisplayName")?.Value</a>
                <a class="link" asp-controller="accounts" asp-action="logout">Log&nbsp;Out</a>
            }
            else
            {
                <a class="link" asp-controller="accounts" asp-action="login">Log&nbsp;In</a>
            }
            <a class="link" asp-controller="shopping" asp-action="cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>
