<div class="post">
    <img class="post-image" alt="" src="/images/placeholders/370x295.svg">

    <div class="post-information">
        <h6 class="post-title">Apple Watch Series</h6>
        <p class="post-preview">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</p>
        <p class="post-author">Post By : Admin</p>
        <p class="post-comments">Comments : 13</p>
    </div>
</div>