.contact-form {
            
    @include md {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    
            "name email"
            "phoneNumber companyName"
            "message message"
            "terms terms"
            "button button";
    }

    .name           { grid-area: name;}
    .email          { grid-area: email; }
    .phoneNumber    { grid-area: phoneNumber; }
    .companyName    { grid-area: companyName;}
    .message        { grid-area: message;}
    .terms          { grid-area:terms; }


}

