@model RegisterViewModel

<section class="formSection">
    <div class="container form-container">
        <div class="title">Please Register your new Account</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <form class="register-form" method="post" novalidate enctype="multipart/form-data">

            <div class="firstName form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" required>
                <span asp-validation-for="FirstName" class="error"></span>
            </div>
            <div class="lastName form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" >
                <span asp-validation-for="LastName" class="error"></span>
            </div>
            <div class="streetName form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" >
                <span asp-validation-for="StreetName" class="error"></span>
            </div>
            <div class="postalCode form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" >
                <span asp-validation-for="PostalCode" class="error"></span>
            </div>
            <div class="city form-group">
                <label asp-for="City"></label>
                <input asp-for="City" >
                <span asp-validation-for="City" class="error"></span>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber" class="error"></span>
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName"></label>
                <input asp-for="CompanyName" >
                <span asp-validation-for="CompanyName" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" >
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="password form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" >
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="confirmPassword form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" >
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <div class="profileImage form-group">
                <label asp-for="ProfileImg"></label>
                <input asp-for="ProfileImg" type="file" class="imageInput">
                <span asp-validation-for="ProfileImg" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    I have read and accepts the terms and agreements.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-btn">
                <button type="submit" class="theme-button form-submit-btn">Register My Account</button>
            </div>
        </form>
    </div>
</section>