.footer {
    background-color: $color-theme-dark;
    padding: 1rem;
    color: $color-gray-30;
    text-align: center;

    .footer-text {
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 60px;

        @include lg {
            margin: 0 auto;
        }
    }
}

.position-static{
    position:static;
}

.position-fixed-bottom{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}