button {
    padding: 0.3rem 1rem;
    background-color: transparent;
    border: none;
    font-family: $font-poppins;
    font-weight: $font-weight-regular;
    font-size: 0.7 !important;
    transition: all 300ms;

    @include md{
        padding: 0.5rem 1.5rem;
    }

    @include lg{
        padding: 0.5rem 2rem;
    }
}

.light-button{
    background-color: white;
    color: $color-theme-dark;

    &:hover{
        color: $color-theme;
    }
}

.theme-button{
    background-color: $color-theme;
    color: white;

    &:hover{
        color: $color-theme-dark;
    }
}