@model BreadcrumbViewModel
<partial name="/Views/Partials/_Breadcrumb.cshtml" model="@Model"/>

<!-- Contact form -->
<section class="formSection">
    <div class="container form-container">
        <div class="title">Write something</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <form class="contact-form" method="post" novalidate>
            <div class="name form-group">
                <label for="name">Your Name*</label>
                <input id="name" type="text"  required>
                <span class="error">Your name is required</span>
            </div>
            <div class="email form-group">
                <label for="email">Your Email*</label>
                <input id="email" type="text" >
                <span class="error">Your email is required</span>
            </div>
            <div class="phoneNumber form-group">
                <label for="phone">Phone Number (optional)</label>
                <input id="phone" type="text">
            </div>
            <div class="companyName form-group">
                <label for="company">Company (optional)</label>
                <input id="company" type="text">
            </div>
            <div class="message form-group">
                <label for="message">Message*</label>
                <textarea id="message" ></textarea>
                <span class="error">Message is required</span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-btn">
                <button class="theme-button form-submit-btn">Submit</button>
            </div>
        </form>
    </div>
</section>
<!-- Contact form end -->

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.846379992451!2d18.021943310261673!3d59.34492585222009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d9d263b022d%3A0x82fc0f30ed84f9ed!2sNackademin!5e0!3m2!1ssv!2sse!4v1679451477145!5m2!1ssv!2sse" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>


