@model ContactFormViewModel
<partial name="/Views/Partials/_Breadcrumb.cshtml" model="@Model.Breadcrumb"/>

<!-- Contact form -->
<section class="formSection">
    <div class="container form-container">
        <div class="title">Write something</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <form class="contact-form" method="post" novalidate>
            <div class="name form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" required>
                <span asp-validation-for="Name" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" >
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" type="text">
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName"></label>
                <input asp-for="CompanyName" type="text">
            </div>
            <div class="message form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" ></textarea>
                <span asp-validation-for="Message" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="SaveInfoInBrowser"></label>
                    <input asp-for="SaveInfoInBrowser">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-btn">
                <button type="submit" class="theme-button form-submit-btn">Submit</button>
            </div>
        </form>
    </div>
</section>
<!-- Contact form end -->

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.846379992451!2d18.021943310261673!3d59.34492585222009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d9d263b022d%3A0x82fc0f30ed84f9ed!2sNackademin!5e0!3m2!1ssv!2sse!4v1679451477145!5m2!1ssv!2sse" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>


