
.register-form {
            
    @include md {
    grid-template-areas:    
        "firstName lastName"
        "streetName streetName"
        "postalCode city"
        "phoneNumber companyName"
        "email email"
        "password password"
        "confirmPassword confirmPassword"
        "profileImage profileImage"
        "terms terms"
        "button button";
    }

    .firstName          { grid-area: firstName; }
    .lastName           { grid-area: lastName; }
    .streetName         { grid-area: streetName; }
    .postalCode         { grid-area: postalCode;}
    .city               { grid-area: city;}
    .phoneNumber        { grid-area: phoneNumber; }
    .companyName        { grid-area: companyName; }
    .email              { grid-area: email; }
    .password           { grid-area: password; }
    .confirmPassword    { grid-area: confirmPassword; }
    .profileImage       { grid-area: profileImage; }
    .terms              { grid-area: terms; }

}

