.formSection {
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    @include lg {
        max-width: 800px;
    }

    .form-container {
        border: 0px solid $color-gray-30;

        @include md {
            border: 2px solid $color-gray-10;
            padding: 2rem;
            margin: 60px auto;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: center;
        }

        form {

            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 30px;
            }

            .dropdown-section {
                display: flex;
                align-items: center;
                justify-content: center;

                .dropdown {
                    width: 100%;

                    @include md {
                        position:relative;
                    }

                    .dropdownMenu {
                        background-color: white;
                        z-index: 100;
                        width: 100%;
                        margin-left: 10px;

                        @include md{
                            position:absolute;
                            margin-top:20px;
                        }

                        .form-check {
                            margin-bottom: 1rem;

                            .form-check-input {
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }

            .form-group {
                width: 100%;
                margin-bottom: 10px !important;
                position: relative;

                label {
                    display: block;
                    margin-bottom: 5px;
                }

                span {
                    display: inline-block;
                    color: $color-theme;
                    height: 20px;
                    margin-top: 2px;
                    font-size: 0.8em;
                }

                .form-link {
                    grid-area: link;
                    color: $color-theme !important;
                    font-size: 0.7rem;
                    position: absolute;
                    right: 0;
                    top: 5px;
                }

                .imageInput {
                    background-color: transparent;
                    border: none;

                    &[type=file] {
                        font-weight: $font-weight-regular;
                        font-family: $font-poppins;
                        padding-left: 0;
                    }
                }
            }

            textarea {
                height: 100px;
                resize: none;
            }

            select {
                width: 100%;
                height: 46px;
                background-color: $color-gray-10;
                border: 1px solid $color-gray-20;
                padding: 10px 15px;

                &:focus {
                    outline: none;
                }
            }

            .form-checkbox-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .form-btn {
                display: flex;
                justify-content: center;
                grid-area: button;
                padding: 20px 10px 40px 10px;

                @include lg {
                    justify-content: left;
                    width: 100%;
                    margin: auto;
                    padding: 20px 0 40px 0;
                }

                .form-submit-btn {
                    width: 100%;

                    @include lg {
                        width: auto;
                    }
                }
            }
        }
    }
}

.error{
    font-size:0.8rem;
    color:$color-theme;
}


//Code with minor changes from Teacher Hans
//https://github.com/hans-academedia/win22-aspnet

textarea,
input,
input:not([type="checkbox"]) {
    border: 1px solid $color-gray-20;
    background-color: $color-gray-10;
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 15px;
    outline: 0;

    &:focus {
        border: 1px solid $color-gray-20;
    }
}

.input-validation-error{
    border:1px solid $color-theme !important;
}

.custom-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        border: 1px solid $color-gray-20;

        &:checked + .checkmark {
            height: 25px;
            width: 25px;
            background-color: $color-gray-10;
            border: 1px solid $color-gray-20;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &::after {
                content: '';
                height: 15px;
                width: 15px;
                background-color: $color-gray-40;
            }
        }

    }

    .checkmark {
      position: absolute; 
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $color-gray-10;
      border: 1px solid $color-gray-10;
      z-index: -1;
    }
}
