@model IEnumerable<CardModel>
@{
    var cardSizeSmall = new ViewDataDictionary(ViewData) { { "CardSize", "card-image-small" } };
}

<section class="container bestselling">
    <h3 class="sectiontitle">All Products</h3>

    <div class="collection">

        @if (Model is not null)
        {
            foreach (var product in Model)
            {
                <partial name="/Views/Partials/_Card.cshtml" model="product" view-data='cardSizeSmall'/>
            }
        }

    </div>
</section>
