@model ProductRegistrationViewModel

<section class="formSection">
    <div class="container form-container">
        <div class="title">Please Register your new Product</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <form class="register-product-form" method="post" enctype="multipart/form-data" novalidate>

            <div class="Title form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="invalid" required>
                <span asp-validation-for="Title" class="error"></span>
            </div>
            <div class="Price form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="invalid">
                <span asp-validation-for="Price" class="error"></span>
            </div>
            <div class="Categories form-group">

                @*<span asp-validation-for="Categories" class="error"></span>*@


                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Categories
                  </button>
                  <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    @foreach (SelectListItem categoryAlternative in ViewBag.Categories)
                    {
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="tags" value="@categoryAlternative.Value" id="category-@categoryAlternative.Text-@categoryAlternative.Value" checked="@categoryAlternative.Selected">
                                <label class="form-check-label" for="category-@categoryAlternative.Text-@categoryAlternative.Value">@categoryAlternative.Text</label>
                        </div>
                    }
                  </div>
                </div>

                <script type="text/javascript">
                    const dropdownButton = document.getElementById("categoriesDropdown");
                    const dropdownMenu = document.querySelector(".dropdown-menu");
                    const checkboxes = document.querySelectorAll(".form-check-input");
                    const categoriesInput = document.querySelector('input[name="Categories"]');
                    const selectedCategories = [];

                    dropdownButton.addEventListener("click", () => {
                        console.log("dropdown click");
                        dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
                    });
                </script>
            </div>
            <div class="DiscountPrice form-group">
                <label asp-for="DiscountPrice"></label>
                <input asp-for="DiscountPrice">
                <span asp-validation-for="DiscountPrice" class="error"></span>
            </div>
            <div class="Review form-group">
                <label asp-for="Review"></label>
                <input asp-for="Review">
                <span asp-validation-for="Review" class="error"></span>
            </div>
            <div class="PrimaryImage form-group">
                <label asp-for="PrimaryImage"></label>
                <input asp-for="PrimaryImage" type="file" class=" imageInput">
                <span asp-validation-for="PrimaryImage" class="error"></span>
            </div>
            <div class="ImageOne form-group">
                <label asp-for="ImageOne"></label>
                <input asp-for="ImageOne" type="file" class=" imageInput">
                <span asp-validation-for="ImageOne" class="error"></span>
            </div>
            <div class="ImageTwo form-group">
                <label asp-for="ImageTwo"></label>
                <input asp-for="ImageTwo" type="file" class=" imageInput">
                <span asp-validation-for="ImageTwo" class="error"></span>
            </div>
            <div class="ImageThree form-group">
                <label asp-for="ImageThree"></label>
                <input asp-for="ImageThree" type="file" class=" imageInput">
                <span asp-validation-for="ImageThree" class="error"></span>
            </div>
            <div class="ImageFour form-group">
                <label asp-for="ImageFour"></label>
                <input asp-for="ImageFour" type="file" class=" imageInput">
                <span asp-validation-for="ImageFour" class="error"></span>
            </div>      
            <div class="Description form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="invalid" rows="4"></textarea>
                <span asp-validation-for="Description" class="error"></span>
            </div>
            <div class="form-btn">
                <button type="submit" class="theme-button form-submit-btn">Submit Product</button>
            </div>
        </form>
    </div>
</section>

<script src="~/js/site.js"></script>
