.login-form {
    @include md {
        grid-template-areas:
            "email email"
            "password password"
            "terms terms"
            "button button"
    }

    .email {grid-area: email;}

    .password { grid-area:password;}

    .terms { grid-area:terms; }
}