.contact-form {
    display: flex;
    justify-content: center;

    .form-container {
        max-width: 90vw;
        border: 0px solid $color-gray-30;

        @include md {
            border: 1px solid $color-gray-30;
            margin: 60px auto;
        }

        .title {
            margin-bottom: 40px;
            margin-left: 1rem;
        }

        form {
            
            @include md {
                display: grid;
                column-gap: 30px;
                row-gap: 30px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:    "name email"
                                        "phoneNumber companyName"
                                        "message message"
                                        "terms terms"
                                        "button button";
            }

            .name           { grid-area: name;  max-width: 90%; margin: auto;}
            .email          { grid-area: email;  max-width: 90%; margin: auto;}
            .phoneNumber    { grid-area: phoneNumber;  max-width: 90%; margin: auto;}
            .companyName    { grid-area: companyName;  max-width: 90%; margin: auto;}
            .terms          { grid-area: terms;  max-width: 90%; margin: auto;}
            .message        { grid-area: message;  max-width: 90%; margin: auto;}

            textarea {
                height: 100px;
                resize: none;
            }

            .form-btn{
                display: flex;
                justify-content: center;
                grid-area: button;
                padding: 20px 10px 40px 10px;

                @include lg {
                    justify-content: left;
                    width: 90%;
                    margin: auto;
                }

                .form-submit-btn {
                    width: 100%;
    
                    @include lg {
                        width: auto;
                    }
                }
            }
        }
    }
}

